.close{
  width: 35px;
  height: 35px;
  margin-top: 50px;
  margin-right: 15px;
}
body {
  font-family: 'Montserrat';
  background-color: rgb(255, 255, 255);
}

.login{
  background-color: white;
}

.form-sidee{
  background-color: #EFB4B3;
}

.but-onn{
  background-color: #26b8b0;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  left: 40%;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
  margin-top: 25px;
}

.but-onn:hover{
  background-color:  #0e55a5;
}

.reg{
  margin-top: 25%;
}

.log-head{
  color: #ffffff;
  font-family: 'Pacifico', cursive !important;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 30px;
}

#email{
  background-color: #032e61;
}

.text-bxx{
  background-color: #EFB4B3 !important;
  color: -internal-light-dark(black,#F36494);
  width: 90%;
  margin-left: 25px !important;
  outline: none;
  margin-bottom: 15px;
  border:none;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  
}

.p-txt{
  font-style: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  margin-top: 35px;
  padding-left: 25px;
}

.reg-pngg{
  width: 90%;
  height: 70%;
  margin-top: 15%;
}


.mr-btnn{
  margin-bottom: 40%;
}
