<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/about_us.css')}}">
</head>
<body>
     
    <div class="about">
     
        <div class="image"><img class="img-width" src="{{url_for('static',filename='images/boat.jpg')}}" width="600px" height="500px"></div>
        
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                We help candidates find the right fit.
We strive to put job seekers first, giving them free access to search for jobs, that are most suitable for their skill ratings.
Every day, we connect people to new opportunities. 
We are dedicated to providing job seekers with the clearest path to their next amazing opportunity.
Our core values do not live in a handbook. They are the blueprint that guides our behaviour and our interactions with our clients, our workers and each other.
            </p>

             <h1>Our Mission</h1>
            <p class="text">
               To help people everywhere find a job and company they love.
our mission is to help people get jobs.  

Now, we are evolving our mission even further. This is only the beginning. In this next phase, we are building a platform tailored for how people search, now and in the future.

We are innovating and updating, refining and streamlining, all to connect job seekers with the highest quality, most up-to-date job listings on the web. 

Every day, we clear the path for hourly workers to show them an easier way to the right-fit job or shift.

            </p>
            <div class="skills">
                <button> <a href="/contact">Contact Us</button>
            </div>
        </div>
    </div>
</body>
</html>


