<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_review_style.css') }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <body>

    <div class="testimonials">
      <div class="inner">
        <h1>USER RATINGS!</h1>
        <div class="border"></div>

        <div class="row">
          <div class="col">
            <div class="testimonial">
              <img src="{{url_for('static',filename='images/p1.png')}}">
              <div class="name">HARRY</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>

              <p>
                It has been a 1.5years since I have been working for this organization. So far, it has been a progressive journey with good support from the team and my manager. Thanks for the recommendation.The UI is awesome and easy to use.
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
              
              <img src="{{url_for('static',filename='images/p2.png')}}">
              <div class="name">EVA</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                The team is very open to adopting news ideas and technology. And I was glad to be a part of team that encourages growth in teams in terms of career growth and personal growth. Overall, it was an excellent recommendation.
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
              
              <img src="{{url_for('static',filename='images/pic1.jpg')}}">
             <div class="name">ELON</div>
              <div class="stars">

                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                Great recommendation system for all job seekers and students. It is very easy to use and it supports confidentiality of user data. IT recommends the best job that suits you as per your skills.Thanks to the team that developed this site.
              </p>
            </div>
          </div>

         <br>
          <div class="col">
            <div class="testimonial">
              
              <img src="{{url_for('static',filename='images/pic4.jpg')}}">
              <div class="name">gayle laakmann mcdowell</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                I graduated from my college this year but found it difficult to get placed through the drives. Then my friend suggested this website.Now I'm working for nearly 2 years on a project in my recommended career. Thank you for developing this site!
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
             
              <img src="{{url_for('static',filename='images/pic5.jpg')}}">
              <div class="name">Olivia</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
               
              </div>

              <p>
                The site was great.The process from signing in to getting recommendation was very smooth. The skill rating was easy, you enter all your options easy. This is a site I will absolutely recommend to anyone and everyone.
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
             
              <img src="{{url_for('static',filename='images/p3.png')}}">
              <div class="name">Sophia</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                Great site. Really good recommendations, easy to use, got perfect recommendation in few minutes.I have used this site few days ago and now i have been shortlisted by the company which i had applied for which was provided by this site. 
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
